/* CSS Document */
/*Default*/
/*Valentines day*/
                  /*
$bgDefault      : pink;
$bgHighlight    : #ff99dd;
$colDefault     : #ffe6f7;
$colHover       : #e60099;
*/

body {
  /**scalable background to fill available viewport**/
  height: 100%;
  color: #080808;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 70px;

}
@media (max-width: 979px) {
  body {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}


.input-group {
  padding-top: 8px;
}
.my-login-form {
  width: 200px;
  padding: 4px;
  padding-bottom: 2px;
}
.my-login-item  {
  padding-top: 8px;
}
.color-select {
height: 10px;
}
.red {
  color: red !important;

}
.white {
  background-color: white

}
.yellow {
  background-color: yellow

 }
.blue {
  background-color: blue;
}
.itemCartName {
  padding-top: 5px;
}
.evenRow {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: lightgray;
}
/*http://freshome.com/2010/08/23/crazy-overgrown-household-items-from-robert-therrien/*/
.block1 {
  background-image: url("http://67.253.94.5/it488/img/household-1.jpg") ;

}
/*http://www.helloshoppee.com/*/
.block2 {
  background-image: url("http://67.253.94.5/it488/img/electronics-1.jpg");
}
/*https://blog.bedbathandbeyond.com/2016/04/7-items-give-patio-great-summer-style/*/
.block3 {
  background-image: url("http://67.253.94.5/it488/img/outdoor-1.jpg");

}
